body{
    max-width: 52em !important;
    background-color: #1e1e1e !important;
    color: white !important;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  
}
.page-wrapper {
  flex: 1;
}
.defaulColor{
    color: #179E79 ;
}
.searchBar{
    font-size: 10px !important;
}
.heading{

    font-family: 'Inter', 'Segoe UI', 'Poppins', sans-serif;
    font-size: 35px;
    margin-bottom: 10px !important;
    color: #179E79 ;
}
.heading:hover{
    color: #179e7acc;
}
.secHeading{
    font-family:"Raleway", sans-serif;
    font-size: 45px;
    margin-bottom: 10px !important;
    color: #179E79 !important;
}
.paragraph{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    color: #e0e0e0 !important;
    text-align: justify;
}
strong{
    color: #e6e6e6 !important;
}
.inputFields{
    width: 40px !important;
}
.bookHeading{
    font-family:"Raleway", sans-serif;
    font-size: 45px;
    margin-bottom: 10px !important;
    color: #3498db !important;
    text-decoration: none !important;
}
.bookLink{
    font-family: "Raleway", sans-serif !important;
    color: #3498db  ;
    text-decoration: none ;
    transition: color 0.3s ease, text-decoration 0.3s ease-;
}
.bookLink:hover{
    color: #3498dbd5 ;
}
.sortLink {
    font-family:"Raleway", sans-serif;
  color: #3498db !important;
  text-decoration: none !important;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease, border-color 0.2s ease 0.1s;
}

.sortLink:hover {
  color: #3498dbd5 !important;
  border-bottom: 2px solid #3498dbd5;
}

pre{
    white-space: pre-wrap; 
    max-width: 100%; 
}
.clearfix{
    margin-bottom: 70px;
}
.btnColor{
    background-color: #179E79 !important;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.btnColor:hover{
    transform: scale(1.05);
    background-color: #179e7ac9 !important;
}
.btnAdd{
    max-width: 95% !important;
}
.section{
    margin-bottom: 60px !important;
    margin-top: 140px;
}
.Pagination{
    margin-top: -30px !important;
}
.pagination .page-item.active .page-link {
  background-color: #179E79;
  border-color: #179E79;
  color: white !important;
}
.pagination .page-link {
  color: #179E79 !important;
}
.page-link:hover {
  background-color: #f0f0f0 !important;
  color: #179e7ac9 !important;
  transform: scale(1.05) !important;
  border-color:#179E79 !important;
}
.page-item.active>.page-link:hover{
    color: #179E79 !important;
}


.nav{
    background-color: 	#1a1a1a !important;
    position: fixed !important;
  top: 0 !important;
  width: 75% !important;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
footer{
     background-color: 	#1A1A1A !important;
     width: 125%;
     position: relative;
     left: 50%;
     transform: translateX(-50%);
     z-index: 1000;
}
.nav-link{
    padding: 0 !important;
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.822) !important;
}
.profileName{
    color: #179E79 !important;
    font-family: "Raleway", sans-serif;
    transition: transform 0.3s ease, color 0.3s ease;
}
.profileName:hover{
    transform: scale(1.05);
    color: #179e7acc;
}

 /* responsive css */

